In [1]:
%load_ext sql

In [2]:
%sql sqlite:///Homework2_20205149.db

# problem 3

In [59]:
%%sql -- Problem 3

create table station (
    station_ID char(5),
    station_name varchar(20),
    primary key (station_ID)
);

create table route (
    departure_station char(5),
    arrival_station char(5),
    time char(5),
    primary key (departure_station, arrival_station),
    foreign key (departure_station) references station(station_ID)
        on delete set null,
    foreign key (arrival_station) references station(station_ID)
        on delete set null
);

create table train (
    train_ID char(5),
    passenger_limit INT(11),
    primary key (train_ID)    
);

create table schedule (
    train_ID char(5),
    departure_station char(5),
    arrival_station char(5),
    departure_time time,
    date date,
    primary key (train_ID, departure_station, arrival_station, date, departure_time),
    foreign key (train_ID) references train(train_ID)
        on delete set null,
    foreign key (departure_station) references route(departure_station)
        on delete set null,
    foreign key (arrival_station) references route(arrival_station)
        on delete set null
);

create table passenger (
    passenger_ID char(5),
    passenger_name varchar(20),
    primary key (passenger_ID)
);

create table ticket (
    train_ID char(5),
    departure_station char(5),
    arrival_station char(5),
    departure_time time,
    date date,
    passenger_ID char(5),
    primary key (train_ID, departure_station, arrival_station, date, departure_time, passenger_ID),
    foreign key (train_ID) references schedule(train_ID)
        on delete set null,
    foreign key (departure_station) references schedule(departure_station)
        on delete set null,
    foreign key (arrival_station) references schedule(arrival_station)
        on delete set null,
    foreign key (passenger_ID) references passenger(passenger_ID)
        on delete set null
);

 * sqlite:///Homework2_20205149.db
Done.
Done.
Done.
Done.
Done.
Done.

[]

# problem 4

In [60]:
%%sql -- Problem 4 - (1)
insert into station values
    ('1','수서'),
    ('2','광주송정'),
    ('3','부산');

insert into route values
    ('1', '3', '2h 29m'),
    ('1', '2', '1h 41m'),
    ('3', '1', '2h 31m'),
    ('2', '1', '1h 39m');

insert into train values
    ('SRT 613', 5),
    ('SRT 622', 5),
    ('SRT 662', 8);

insert into schedule values
    ('SRT 662', '수서', '부산', '06:00:00', '2022-11-02'),
    ('SRT 613', '수서', '부산', '10:00:00', '2022-11-02'),
    ('SRT 662', '수서', '부산', '22:00:00', '2022-11-02'),
    ('SRT 613', '수서', '광주송정', '06:00:00', '2022-11-02'),
    ('SRT 622', '수서', '광주송정', '07:00:00', '2022-11-02'),
    ('SRT 613', '수서', '광주송정', '08:00:00', '2022-11-02'),
    ('SRT 622', '수서', '광주송정', '13:00:00', '2022-11-02'),
    ('SRT 662', '수서', '광주송정', '14:00:00', '2022-11-02'),
    ('SRT 622', '부산', '수서', '06:00:00', '2022-11-02'),
    ('SRT 662', '부산', '수서', '18:00:00', '2022-11-02'),
    ('SRT 622', '광주송정', '수서', '12:00:00', '2022-11-02'),
    ('SRT 662', '광주송정', '수서', '14:00:00', '2022-11-02'),
    ('SRT 622', '광주송정', '수서', '15:00:00', '2022-11-02'),
    ('SRT 662', '광주송정', '수서', '19:00:00', '2022-11-02');

insert into passenger values
    ('1', 'haeun'),
    ('2', 'ottz'),
    ('3', 'lee');

insert into ticket values
    ('SRT 662', '수서', '부산', '06:00:00', '2022-11-02', '1'),
    ('SRT 613', '수서', '부산', '10:00:00', '2022-11-02', '1'),
    ('SRT 613', '수서', '부산', '10:00:00', '2022-11-02', '2'),
    ('SRT 613', '수서', '부산', '10:00:00', '2022-11-02', '3'),
    ('SRT 662', '수서', '부산', '22:00:00', '2022-11-02', '1'),
    ('SRT 613', '수서', '광주송정', '06:00:00', '2022-11-02', '1'),
    ('SRT 622', '수서', '광주송정', '07:00:00', '2022-11-02', '1'),
    ('SRT 622', '수서', '광주송정', '07:00:00', '2022-11-02', '2'),
    ('SRT 622', '수서', '광주송정', '07:00:00', '2022-11-02', '3'),
    ('SRT 613', '수서', '광주송정', '08:00:00', '2022-11-02', '1'),
    ('SRT 613', '수서', '광주송정', '08:00:00', '2022-11-02', '2'),
    ('SRT 622', '수서', '광주송정', '13:00:00', '2022-11-02', '1'),
    ('SRT 662', '수서', '광주송정', '14:00:00', '2022-11-02', '1'),
    ('SRT 662', '수서', '광주송정', '14:00:00', '2022-11-02', '2'),
    ('SRT 622', '부산', '수서', '06:00:00', '2022-11-02', '1'),
    ('SRT 622', '부산', '수서', '06:00:00', '2022-11-02', '2'),
    ('SRT 662', '부산', '수서', '18:00:00', '2022-11-02', '1'),
    ('SRT 622', '광주송정', '수서', '12:00:00', '2022-11-02', '1'),
    ('SRT 662', '광주송정', '수서', '14:00:00', '2022-11-02', '1'),
    ('SRT 662', '광주송정', '수서', '14:00:00', '2022-11-02', '3'),
    ('SRT 622', '광주송정', '수서', '15:00:00', '2022-11-02', '2'),
    ('SRT 662', '광주송정', '수서', '19:00:00', '2022-11-02', '3');

 * sqlite:///Homework2_20205149.db
3 rows affected.
4 rows affected.
3 rows affected.
14 rows affected.
3 rows affected.
22 rows affected.

[]

# problem 5

### (1)	(출발역-도착역) 경로 중, 가장 소요시간이 긴 경로를 select

In [61]:
%%sql -- Problem 5 - (1)
with max_route(depart_station, arrive_station, time)
    as (select departure_station, arrival_station, max(time)
        from route)
select
    depart.station_name as departure_station_name,
    arrive.station_name as arrival_station_name,
    time as longest_time
from max_route, station as depart, station as arrive
where
    max_route.depart_station = depart.station_id and
    max_route.arrive_station = arrive.station_id;

 * sqlite:///Homework2_20205149.db
Done.

[('부산', '수서', '2h 31m')]

### (2) 가장 여러번 운행하는 (출발역-도착역) 경로를 select

In [62]:
%%sql -- Problem 5 - (4)
with max_count
    as (select count(*) as count, departure_station, arrival_station
        from schedule
        group by departure_station, arrival_station)
select departure_station, arrival_station, max(count) as count
from max_count

 * sqlite:///Homework2_20205149.db
Done.

[('수서', '광주송정', 5)]

### (3) 각 승객별로 구매한 티켓의 총 개수를 많은 순서대로 정렬하여 select

In [63]:
%%sql -- Problem 5 - (3)
select count(*) as ticket_count, passenger_name
from ticket natural left outer join passenger
group by passenger_id
order by ticket_count desc

 * sqlite:///Homework2_20205149.db
Done.

[(12, 'haeun'), (6, 'ottz'), (4, 'lee')]

### (4) 각 운행 스케줄 별로, 최대 수용 인원, 판매 완료된 티켓 수, 남아있는 자리 수를 select

In [64]:
%%sql -- Problem 5 - (2)
with limit_and_soldout
    as (select train.train_ID as trainID, departure_station, arrival_station, date, departure_time,
                train.passenger_limit as limitation, count(passenger_ID) as soldout_seat
        from ticket, train
        group by train.train_ID, departure_station, arrival_station, date, departure_time
        having ticket.train_ID = train.train_ID)
select trainID, departure_station, arrival_station, date, departure_time,
        limitation, soldout_seat,
        limitation - soldout_seat as remaining_seat
from limit_and_soldout
order by remaining_seat

 * sqlite:///Homework2_20205149.db
Done.

[('SRT 613', '수서', '부산', '2022-11-02', '10:00:00', 5, 3, 2),
 ('SRT 622', '수서', '광주송정', '2022-11-02', '07:00:00', 5, 3, 2),
 ('SRT 613', '수서', '광주송정', '2022-11-02', '08:00:00', 5, 2, 3),
 ('SRT 622', '부산', '수서', '2022-11-02', '06:00:00', 5, 2, 3),
 ('SRT 613', '수서', '광주송정', '2022-11-02', '06:00:00', 5, 1, 4),
 ('SRT 622', '광주송정', '수서', '2022-11-02', '12:00:00', 5, 1, 4),
 ('SRT 622', '광주송정', '수서', '2022-11-02', '15:00:00', 5, 1, 4),
 ('SRT 622', '수서', '광주송정', '2022-11-02', '13:00:00', 5, 1, 4),
 ('SRT 662', '광주송정', '수서', '2022-11-02', '14:00:00', 8, 2, 6),
 ('SRT 662', '수서', '광주송정', '2022-11-02', '14:00:00', 8, 2, 6),
 ('SRT 662', '광주송정', '수서', '2022-11-02', '19:00:00', 8, 1, 7),
 ('SRT 662', '부산', '수서', '2022-11-02', '18:00:00', 8, 1, 7),
 ('SRT 662', '수서', '부산', '2022-11-02', '06:00:00', 8, 1, 7),
 ('SRT 662', '수서', '부산', '2022-11-02', '22:00:00', 8, 1, 7)]

### (5) 탑승객이 가장 적은 열차운행 스케줄을 전부 select

In [65]:
%%sql -- Problem 5 - (5)
with soldout_seat
    as (select train.train_ID as trainID, departure_station, arrival_station, date, departure_time,
                count(passenger_ID) as soldout_seat
        from ticket, train
        group by train.train_ID, departure_station, arrival_station, date, departure_time
        having ticket.train_ID = train.train_ID),
    min_soldout_seat(value)
    as (select min(soldout_seat)
        from soldout_seat)
select trainID, departure_station, arrival_station, date, departure_time, soldout_seat
from soldout_seat, min_soldout_seat
where soldout_seat.soldout_seat = min_soldout_seat.value

 * sqlite:///Homework2_20205149.db
Done.

[('SRT 613', '수서', '광주송정', '2022-11-02', '06:00:00', 1),
 ('SRT 622', '광주송정', '수서', '2022-11-02', '12:00:00', 1),
 ('SRT 622', '광주송정', '수서', '2022-11-02', '15:00:00', 1),
 ('SRT 622', '수서', '광주송정', '2022-11-02', '13:00:00', 1),
 ('SRT 662', '광주송정', '수서', '2022-11-02', '19:00:00', 1),
 ('SRT 662', '부산', '수서', '2022-11-02', '18:00:00', 1),
 ('SRT 662', '수서', '부산', '2022-11-02', '06:00:00', 1),
 ('SRT 662', '수서', '부산', '2022-11-02', '22:00:00', 1)]