In [1]:
pi = 3.14159
def area(radius):
    return pi*(radius**2)
def circumference(radius):
    return 2*pi*radius

In [2]:
print (pi)

3.14159

In [3]:
print (area(10))

314.159

In [4]:
print (circumference(3))

18.849539999999998

In [5]:
# without using magic function
# pip install ipython-sql

In [7]:
# 위의 magic function  대신 import
import sqlite3

In [14]:
connection = sqlite3.connect("db_univ7_new.db")

In [15]:
cursor = connection.cursor()

In [16]:
with connection:
    cursor.execute("select * from student")

In [17]:
rows = cursor.fetchall()

In [18]:
for row in rows:
    print(row[0], row[1], row[2], row[3])

00128 Zhang Comp. Sci. 102
12345 Shankar Comp. Sci. 32
19991 Brandt History 80
23121 Chavez Finance 110
44553 Peltier Physics 56
45678 Levy Physics 46
54321 Williams Comp. Sci. 54
55739 Sanchez Music 38
70557 Snow Physics 0
76543 Brown Comp. Sci. 58
76653 Aoi Elec. Eng. 60
98765 Bourikas Elec. Eng. 98
98988 Tanaka Biology 120

In [19]:
cursor.execute("INSERT INTO student values ('44444', 'John', 'History', 10)")

In [20]:
with connection:
    cursor.execute("select * from student")

In [21]:
rows = cursor.fetchall()

In [22]:
for row in rows:
    print(row[0], row[1], row[2], row[3])

00128 Zhang Comp. Sci. 102
12345 Shankar Comp. Sci. 32
19991 Brandt History 80
23121 Chavez Finance 110
44553 Peltier Physics 56
45678 Levy Physics 46
54321 Williams Comp. Sci. 54
55739 Sanchez Music 38
70557 Snow Physics 0
76543 Brown Comp. Sci. 58
76653 Aoi Elec. Eng. 60
98765 Bourikas Elec. Eng. 98
98988 Tanaka Biology 120
44444 John History 10

In [17]:
sID='33344'

In [18]:
sname='Maria'

In [19]:
cursor.execute("INSERT INTO student values (?, ?, 'History', 40)",(sID,sname))

In [21]:
with connection:
    cursor.execute("select * from student")

In [22]:
rows = cursor.fetchall()

In [23]:
for row in rows:
    print(row[0], row[1], row[2], row[3])

00128 Zhang Comp. Sci. 102
12345 Shankar Comp. Sci. 32
19991 Brandt History 80
23121 Chavez Finance 110
44553 Peltier Physics 56
45678 Levy Physics 46
54321 Williams Comp. Sci. 54
55739 Sanchez Music 38
70557 Snow Physics 0
76543 Brown Comp. Sci. 58
76653 Aoi Elec. Eng. 60
98765 Bourikas Elec. Eng. 98
98988 Tanaka Biology 120
44444 John History 10
33344 Maria History 40